ul {
/*	padding-left: 0; */
}

section {
	margin-bottom: 10px;
}

body {
    font-family: "Arial", sans-serif !important;
	color: #444444;	
	background-color: #f4f4f4;	
}

header,
header .row {
	background-color: #111111;	
}

h1, h2, h3, h4, h5, h6 {
	color: #1d1d1d; 
}

a {
	color: #415b0b;
}

a:hover, a.active, a:focus, a:active  {
	color: #668a19;	
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.container {
	background: #ffffff;
}

#title-slogan,
#title-slogan h1 {
	color: #ffffff;
}

#title-slogan a {
	text-decoration: none;
}

.logo, .slogan {
	float: left;
}

#social-icons {
    float: left;
    padding-top: 9px;
}

#social-icons a {
	padding-left: 5px;
}

#search-form input.form-control[type="search"] {
	display: inline-block;
	width: 90%; 
	background: transparent;
	border: none;
} 

#search-form .form-group {
	clear: both;
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #f9f9f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f0f0f0 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */	
}

input.form-control[type="search"] {
	font-style: italic;
}

.navbar-default {
	background-color: #111111;
	text-transform: uppercase;
	border-radius: 0px;
	border-color: #111111;
}

header a, footer a,
.nav a, .navbar-nav a, .navbar-right a,
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-nav > .active > a,
.navbar-nav > li > a:hover, 
.navbar-nav > li > a.active, 
.navbar-nav > li > a:focus, 
.navbar-nav > li > a:active,
header a:hover, 
header a.active, 
header a:focus, 
header a:active,
footer a:hover, 
footer a.active, 
footer a:focus, 
footer a:active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a.active, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:active  {
	color: #88bb22;
}

.item active {
	position: relative;
}

.breadcrumb {
	background: transparent;
}

.carousel-caption {
    position: absolute;
    width: 45%; 
    height: 85%;	
    top: 30px; 
	left: 50%;
    right: 30px; 
	bottom: 30px; 
	background: #111111;
    opacity: 0.8; 
    filter: alpha(opacity=80);  /* For IE8 and earlier */	
    padding: 37px 33px 40px 40px;
	text-align: left;
	line-height: 3rem;
}

.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3 {
	color: #ffffff;
	text-shadow: 1px 1px #000000;
}

.carousel-inner > .item > img {
	width: 100%;
}

.carousel-indicators {
	position: static;
	margin: 10px auto;
}	

.carousel-indicators li {
	background-color: gray;
}

.carousel-indicators li.active {
	background-color: #333333;
}

.carousel-control {
	width: 20px; 
}

.carousel-control.right {
    background-image: none;
}	

.carousel-control.left {
    background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	color: gray;
	background: #ffffff;
}	

.carousel-more {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	background: #000000;
}

#moto {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

#moto div {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

#moto p {
	font-size: 1.2em;
}

span.more-icon {
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.item-image {
	border: 4px solid #ffffff;
	-webkit-box-shadow: 0px 0px 1px 1px #d4d4d4;
	-moz-box-shadow: 0px 0px 1px 1px #d4d4d4;
	box-shadow: 0px 0px 1px 1px #d4d4d4;
}

.intro {
	width: 80%;
}

.intro  a + .item-image:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */	
}

.intro div {
	position: relative;
}

.more-icon {
	margin: auto;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}	

.intro p {
	padding: 15px 5px;
}

.pagination {
	float: right;
}

#portfolio img {
	float: left;
	margin: 10px 20px;
}

footer,
footer .row {
	color: #ffffff;
	background-color: #111111;
}

footer p.copy {
	text-align: center;
}

@media (max-width:770px) {	
	.carousel-caption {
		width: 90%;
		left: 5%;
	}	
	
	.intro img {
		width: 100%;
	}	
}






