<h1>За мен</h1>

<div class="row">
	<div class="col-md-12">

		<p>Завършила съм специалността "Приложна математика" в СУ през 2002г. За първи път навлязох в уеб програмирането през 2004г. с участието си в създаването на сайта <a href="http://cose.math.bas.bg/Sci_Visualization/" target="_blank"><strong>Scientific Visualization</strong></a>, базиран на <a href="http://www.wolfram.com/products/webmathematica/" target="_blank"><strong>webMathematica</strong></a> технология. 
		</p>
		
		<p>Известно време съм се занимавала с обработка на данни, (което, между другото много ми допада, противно на общоприетото мнение, че ако човек е прекалено квалифициран за дадена работа, значи няма мотивация да я върши). Работила съм и като програмист, но винаги повече ме е привличал уеб дизайнът.
		</p>

		<p>С Друпал започнах да се занимавам през 2010г. с изграждането на нова версия на сайта на Медицински факултет към МУ - София. Поддържах уебсайта до 2011г., след което продължих самостоятелно с изработването на уеб сайтове. Това, което ми харесва в Друпал е, че има достатъчно модули, позволяващи създаване на богата функционалност, а тъй като системата е с отворен код, могат да се добавят и специфични функции, които да покриват изискванията на съответния сайт. Освен това съществува голям набор от готови дизайни за Друпал, които също свободно могат да бъдат променяни според нуждите на клиента.
		</p>

		<p>През юли 2013г. завърших успешно курса по CMS (Системи за управление на съдържанието) към софтуерната академия на Телерик. Направих първия си шаблон за CMS по предварително зададен дизайн. Беше ни показано и как разработчика може да добави свой код към системата, така че да получи желаната функционалност, ако системата не разполага с вградена такава. Курсът ми беше много полезен и потвърди мнението ми, че един сайт, изработен със система за управление на съдържанието (каквато е и Drupal) може да има и специфична функционалност, и специфичен дизайн, да изглежда красиво, и същевременно кодът да е написан грамотно и да отговаря на всички стандарти, стига човек да има необходимите познания.
		</p>
		
		<p>През 2016 завърших Фронт-енд направлението към софтуерната академия на Телерик.<br/>
		Благодарности на академията!
		</p>
		
		<p>Проектите, които съм реализирала до момента можете да разгледате на страницата ми "<a title="Портфолио" href="/portfolio"><strong>Портфолио</strong></a>". </p>		
		
	</div>
</div>		
