	<footer>		
		<div class="row">		
			<div class="col-md-6">
				<ul class="nav navbar-nav">
					<li><a href="#/home">Начало</a></li>
					<li><a href="#/aboutme">За мен</a></li>	
					<li><a href="#/websites">Портфолио</a>
					
						<ul>
							<li><a href="#/websites">Уебсайтове</a></li>						
							<li><a href="#">Графики</a></li>						
						</ul>	
					
					</li>						
				</ul>				
			</div>	
			
			<div class="col-md-6">	
				<ul class="nav navbar-nav pull-right">
					<li><a href="https://plus.google.com/collection/kq_Jb">Хобита</a></li>						
					<li><a href="http://www.geoengineeringwatch.org/">Каузи</a></li>						
				</ul>				
			</div>				
		</div>	

		<div class="row">
			<section class="col-md-12">
				<p class="copy">© 2017 Мария Иванова. | Всички права запазени.</p>			
			</section>
		</div>	
	</footer>	