	<div id="carousel" class="row">
		<div class="slide col-md-12"></div>
	</div>
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->


	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">	  
		<div class="item active">
		  <img src="images/mi-main.jpg" alt="slide 1">
		</div>	

		<div class="item">
		  <img src="images/mi-portf.jpg" alt="slide 2">	
		</div>		
		
		<div class="item">
		  <img src="images/mi-serv.jpg" alt="slide 3">
		</div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	  
	</div>	

	<!-- Indicators -->
	<div class="row">	
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>			
		</ol>
	</div>

	<div id="moto" class="row">
		<div class="col-md-12">
			<h3>Добре дошли на личната ми страница</h3>
			<p>Тук ще научите повече за професионалния ми опит и интересите ми, и ще можете да разгледате портфолиото ми.</p>			
		</div>
	</div>
	
	<div id="middle" class="row promo-gallery">
		<section class="col-md-4">
			<div class="intro">
				<h3>Уеб сайтове</h3>	
				<div>
					<img src="images/intro-bibl.jpg" class="item-image" alt="Повече" height="143" width="225"/>		
				</div>						
			<ul>
				<li><a target="_blank" href="http://tourism.lovech.bg/">Туризъм в Ловеч</a></li>
				<li><a target="_blank" href="http://biblioteka-balkanica.balkanic.org/">Библиотека Балканика</a></li>
				<li><a target="_blank" href="http://www.balkanyouth.balkanic.org/">Младежта на Балканите</a></li>
				<li><a target="_blank" href="http://www.balkancultures.balkanic.org/">Културна история на балканите</a></li>
				<li><a target="_blank" href="http://medfac.mu-sofia.com/">Медицински факултет - София</a></li>				
				<li><a target="_blank" href="http://cose.math.bas.bg/Sci_Visualization/">Scientific Visualization</a></li>
			</ul>				
			</div>
		</section>
		<section class="col-md-4">
			<div class="intro">
				<h3>Графики</h3>
				<div>
					<a href="#/home" class="more-icon"></a>
					<img src="images/intro-image.jpg" class="item-image" alt="Повече" height="150" width="225"/>		
				</div>					
			<ul>
				<li><a href="#">Банери</a></li>
				<li><a href="#">Плакати</a></li>
				<li><a href="#">Лога</a></li>
				<li><a href="#">Колажи</a></li>
				<li><a href="#">Рисунки</a></li>
			</ul>
			</div>
		</section>
		<section class="col-md-4">
			<div class="intro">
				<h3>Връзки</h3>				
			<ul>
				<li><a href="http://telerikacademy.com/">Софтуерна академия на Телерик</a></li>			
				<li><a href="https://www.drupal.org/">Официален уеб сайт на Друпал</a></li>
				<li><a href="http://drupalbg.org/">Български сайт за Друпал</a></li>
				<li><a href="http://razni-raboti.com/">Svetoslav Stoyanov</a></li>
				<li><a href="http://maria.momtchev.com/">Мария Момчева</a></li>
			</ul>
				<h4>Хоби</h4>				
			<ul>
				<li><a href="https://plus.google.com/collection/kq_Jb">Връзката между духовност и наука</a></li>
			</ul>	
				<h4>Каузи</h4>				
			<ul>
				<li><a href="http://www.geoengineeringwatch.org/">Изобличаване на аерозолните престъпления</a></li>
			</ul>			
			</div>
		</section>
	</div>

	