<h1>Уеб сайтове</h1>
	  <!-- Wrapper for items -->
	  <div id="portfolio">
		<div class="item clearfix">
		  <img src="images/websites/lovech.jpg" alt="Туризъм в Ловеч">
		  <div class="">
			<h3>Туризъм в Ловеч</h3>
			<p>Създаден: 2015 г.<br/>
				Използвана технология: Друпал
				<br/>
				Сайтът е изработен съвместно с фирма Джи Ем Криейтив.
			</p>		  
			<a class="more" target="_blank" href="http://tourism.lovech.bg/">Виж сайта</a>
			</div>
		</div>
		<hr/>
		<div class="item clearfix">
		  <img src="images/websites/bibl-balkanica.jpg" alt="">
		  <div class="">
			<h3>Библиотека Балканика</h3>
			<p>Създаден: май 2014г. <br/>
				Използвана технология: Друпал</p>		  
			<a class="more" target="_blank" href="http://biblioteka-balkanica.balkanic.org/">Виж сайта</a>
			</div>
		</div>	
		<hr/>		
		<div class="item clearfix">
		  <img src="images/websites/balkanyouth.jpg" alt="">
		  <div class="">
			<h3>Проект „Младежта на Балканите - Отворени сцени”</h3>
			<p>Използвана технология: Друпал <br/>
			Сайтът е създаден във връзка с провеждащата се среща на 37 младежи и лидери от 5 балкански страни - Турция, Гърция, България, Румъния и Кипър,
в гр. Каварна, България от 20-ти до 28-ми юни 2013г.
			</p>	
			<a class="more" target="_blank" href="http://www.balkanyouth.balkanic.org/">Виж сайта</a>			
		  </div>
		</div>
		<hr/>		
		<div class="item clearfix">
		  <img src="images/websites/balkancultures.jpg" alt="">
		  <div class="">
			<h3>Културна история на балканските народи</h3>
			<p>Използвана технология: Друпал<br/>
			Създаден: Март 2013<br/>
			Сайт на секция "Културна история на балканските народи" към Института по балканистика - БАН
			</p>		  
			<a class="more" target="_blank" href="http://www.balkancultures.balkanic.org/">Виж сайта</a>
			</div>
		</div>
		<hr/>
		<div class="item clearfix">
		  <img src="images/websites/mf.jpg" alt="">
		  <div class="">
			<h3>Медицински факултет - София</h3>
			<p>Използвана технология: Друпал<br/>
			Създаден: Август 2010<br/>
			Първият ми уебсайт, изработен с Друпал
			</p>		  
			<a class="more" target="_blank" href="http://medfac.mu-sofia.com/">Виж сайта</a>
			</div>
		</div>
		<hr/>		
		<div class="item clearfix">
		  <img src="images/websites/webm.jpg" alt="">
		  <div class="">
			<h3>Scientific Visualization</h3>
			<p>Използвана технология: webMathematica<br/>
			Работех като част от екипа, създал сайта през 2004г.<br/>
			Сайт за интерактивно създаване на графики на функции</p>		  
			<a class="more" target="_blank" href="http://cose.math.bas.bg/Sci_Visualization/">Виж сайта</a>
			</div>
		</div>		
	  </div>



	


	